__pycahe__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/



.env
.env.local
.env.development.local
.venv
venv/
ENV/
env/
env.bak/
venv.bak/
virt/

.mypy_cache/
.dmypy.json
dmypy.json

.pytype/
